/* ----------- шрифт ------------ */
@font-face {
    font-family: 'Inria Sans';
    src: url('/fonts/subset-InriaSans-Regular.woff2') format('woff2'),
        url('/fonts/subset-InriaSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* ----------- общие ------------ */
body {
    font-family: 'Inria Sans', sans-serif;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
  }

  h1{
    font-size: 96px;
    font-weight: 400;
    color: #000000;
  }

  h2{
    font-size: 50px;
    font-weight: 400;
    color: #000000;
  }

  h3{
    font-size: 24px;
    font-weight: 400;
    color: #000000;
  }

  h4{
    font-size: 16px;
    font-weight: 400;
    color: #000000;
  }

  p{
    font-size: 12px;
    font-weight: 400;
    color: #000000;
  }
/* ----------- общие ------------ */

/* ----------- Header Section ------------ */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__logo {
    font-size: 24px;
    font-weight: bold;
}

.navbar__logo-image {
    width: 150px;
    height: auto;
}

.navbar__links {
    display: flex;
}

.navbar__link {
    color: #000000;
    text-decoration: none;
    margin-left: 30px;
    font-size: 16px;
    font-weight: 400;
}

.navbar__contact {
    display: flex;
    align-items: center;
}

.navbar__contact-text {
    color: #000000;
    margin-right: 20px;
}

.navbar__socials {
    display: flex;
}

.navbar__social-icon {
    margin-left: 10px;
}

.navbar__social-icon img {
    width: 32px;
    height: 32px;
}

  .line {
    display: block; /* Изменено с inline-block на block */
    width: 70%;
    height: 1px;
    background-color: grey;
    margin: 0 auto; /* Автоматическое выравнивание по центру */
}

/* ----------- Header Section ------------ */

/* ----------- Hero Section ------------ */

.hero {
    padding: 80px 0 150px;
    text-align:left;
}

.hero__title {
    margin-bottom: 40px;
}

.hero__description {
    margin-bottom: 100px;
}

.hero__btn {
    background: #38929C;    
    color: white;
    cursor: pointer;
    border: 1px solid;
    border-color: #1c4c5e;
    border-radius: 30px;
    padding: 15px 25px; /* Упрощено */
    font-size: 22px;
    font-weight: 400;
    border: none;
    transition: all 0.3s ease-in-out; /* Переход здесь */
}

.hero__btn:hover,
.hero__btn:focus {
    background: #295D70;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.295);
}

.rounded-line {
    position: relative;
    height: 1px;
    margin-top: 180px;
    margin-bottom: 70px;
    background-color: grey;
}

/* ----------- Hero Section ------------ */

/* ----------- Help Section ------------ */
/*3 блок*/
.help {
    color: #000000;

}
.help-container{
display: flex;
width: 1426px;
justify-content: space-between;
align-items: flex-start;
}

.help-title {
 padding-bottom: 30px;
    font-size: 64px;
    line-height: 68px;
    font-weight: 400;
}

.help__item {
    padding: 25px;
    border: 1px solid;
    border-color: #000000;
    border-radius: 25px;
    margin-bottom: 30px;
}

.help__item--horizontal {
    padding: 30px;
    border: 1px solid;
    border-color: #000000;
    border-radius: 25px;
    margin-bottom: 30px;


}

.row{
    align-items: flex-end;
}
.help__item2 {
    padding: 35px;
    background-color: #1c4c5e;
    color: white;
    border: 1px solid;
    border-color: #1c4c5e;
    border-radius: 25px;
    margin-bottom: 30px;
}

/*Questions*/
.questioncard {
    display: block;
    padding-top: 17px;
    padding-bottom: 17px;
    border-radius: 10px;
    background: #FFF;
    border: 1px solid #282828;
    border-radius: 65px;
    margin-bottom: 30px;



}


.questioncard>input[type="checkbox"] {
    display: none;
}

.questioncard>label {
    display: block;
    padding: 5px 0;
    color: #282828;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    position: relative;
    cursor: pointer;
    margin-left: 31px;


}

.questioncard>label::after,
.questioncard>label::before {
    content: '';
    display: block;
    width: 21px;
    height: 2px;
    margin-right: 79px;
    background: #000000;
    position: absolute;
    top: 50%;
    right: 0;

}

.questioncard>label::after {
    transform: translateY(-50%);
}

.questioncard>label::before {
    transform: translateY(-50%) rotate(90deg);
}

.question__hidden {
    display: none;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    margin-top: 33px;
    padding-bottom: 53px;
    margin-left: 50px;
}

.questioncard>input:checked~label::before {
    display: none;
}

.questioncard>input:checked~.question__hidden {
    display: block;
}

.question-container {
    margin-bottom: 10px;
}

.questions {
    margin-bottom: 100px;
}


.questions {
    border-radius: 20px;
    padding-left: 51px;
    padding-right: 50px;
    padding-bottom: 79px;

}

.name-question {
    padding-bottom: 62px;
    padding-top: 62px;
    color: #282828;
    font-size: 64px;
    line-height: 68px;
    font-weight: 400;
}


/* ----------------- footer --------------------- */

footer {
    background: #4B4B4B;
    color: white;
    padding: 50px 0;
    margin-top: 100px;
}

.footer__container {
    max-width: 1400px;
    margin: 0 auto;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
}

.footer-left, .footer-right {
    display: flex;
    flex-direction: column;
}

.img-footer img {
    max-width: 373px;
    max-height: auto;
}

.footer-info {
    margin-top: 20px;
}

.footer-title-link {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-title {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
}

.footer-title:hover {
    color: rgb(200, 200, 200);
}

.footer-contacts-link {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 20px;
}

.footer-contacts {
    margin-bottom: 20px;
}

.footer-contacts-title {
    font-size: 16px;
}

.messager-link {
    margin-top: 20px;
}

.messagers {
    display: flex;
    gap: 10px;
}

.messenger-item img {
    width: 32px;
    height: 32px;
}

.footer-botton-link {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 20px;
}

.footer-bottom {
    margin-top: 30px;
}

.btn-primary {
    background-color: #1c4c5e;
    color: white;
    border: 1px solid #1c4c5e;
    border-radius: 30px;
    padding: 15px 30px;
}

.policy-link {
    color: #ffffffcc;
    text-decoration: none;
}

.policy-link:hover {
    color: white;
    text-decoration: underline;
}

@media (max-width: 768px) {
    .footer__wrapper {
        flex-direction: column;
        align-items: center;
    }

    .footer-left, .footer-right {
        width: 100%;
        text-align: center;
    }
}
