@font-face {
    font-family: 'Inria Sans';
    src: url('../fonts/subset-InriaSans-Regular.woff2') format('woff2'),
        url('../fonts/subset-InriaSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* ----------- общие ------------ */
body {
    font-family: 'Inria Sans', sans-serif;
    overflow-x: hidden;
}

.container {
    max-width: 1430px;
    margin: 0 auto;
    position: relative;
    padding-left: 0;
    padding-right: 0;
}

section {
    margin-top: 180px;
}
@media (max-width: 1045px) {
    section {
        margin-top: 100px;
    }
}


h1 {
    font-size: 96px;
    font-weight: 400;
    line-height: 1.2em;
}

h2 {
    font-size: 64px;
    font-weight: 400;
    line-height: 1.2em;
}

h3 {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.3em;
}

h4 {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2em;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2em;
}

@media (max-width: 1300px) {
    h1 {
        font-size: 70px;
        font-weight: 400;
        margin-left: 50px;
    }
    h2 {
        font-size: 36px;
        font-weight: 400;
        margin-left: 50px;
    }
    h3 {
        font-size: 18px;
        font-weight: 400;
        margin-left: 50px;
    }
}
@media (max-width: 1045px) {
    h1 {
        font-size: 50px;
        font-weight: 400;
        margin-left: 50px;
    }
    h2 {
        font-size: 36px;
        font-weight: 400;
        margin-left: 50px;
    }
    h3 {
        font-size: 18px;
        font-weight: 400;
    }
}
@media (max-width: 500px) {
    h1 {
        font-size: 40px;
        font-weight: 400;
        margin-left: 50px;
    }
    h2 {
        font-size: 40px;
        font-weight: 400;
        margin-left: 50px;
    }
    h3 {
        font-size: 16px;
        font-weight: 400;
    }
}
/* ----------- общие ------------ */

/* ----------- фиксированные кнопки ------------ */
.fix-btn{
    position: fixed;
    bottom: 120px;
    right: 150px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    align-items: center;
    background-color: #ffffff;
    border-radius: 100px;
    z-index: 1000;
    transition: all 0.3s ease-in-out;
}
.fix-btn:hover,
.fix-btn:focus {
    transform: scale(1.1);
}

.fix-title{
    margin: 0 10px;
    margin-left: 20px;
}

.fix-title-open{
    margin: 0 10px;
    margin-left: 20px;
}

.fix-info {
    position: fixed;
    bottom: 30px;
    right: 150px;
    z-index: 1000;
    background-color: #ffffff;
    border: 1px solid black;
    border-radius: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.3s ease
}

.fix-messengers-list {
    display: flex;
    justify-content: flex-start;
    gap: 5px;
}

.fix-messenger-link img {
    transition: transform 0.3s;
}
.fix-messenger-link img:hover,
.fix-messenger-link img:focus {
    transform: scale(1.03);
}

.fix-btn::after {
    content: '';
}

.fix-info--visible {
    opacity: 1;
}


/* ----------- фиксированные кнопки ------------ */

/* ----------- Header Section ------------ */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__logo {
    font-size: 24px;
    font-weight: bold;
    z-index: 110;
}

.navbar__logo-image {
    width: 150px;
    height: auto;
}

.navbar__links {
    display: flex;
}

.navbar__link {
    color: #000000;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    display: inline-block;
    outline: none;
    padding: 15px 20px 0;
}

.navbar__link::after {
    content: "";
    display: block;
    height: 3px;
    width: 100%;
    background-color: #295D70;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
    transform-origin: left center;
}

.navbar__link:hover::after,
.navbar__link:focus::after {
    transform: scaleX(1);
}

.navbar__right {
    display: flex;
    align-items: center;
    z-index: 110;
}

.line {
    display: block;
    width: 100%;
    height: 1px;
    background-color: black;
    margin: 0 auto;
    z-index: 110;
}

.language-switcher {
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
    border-radius: 4px;
    margin-left: 50px;
    transition: all 0.3s ease;
}

.language-switcher:hover {
    background: rgba(0, 0, 0, 0.05);
}

.language-icon {
    width: 72px;
    height: 39px;
    object-fit: contain;
}

.menu__burger {
    right: 0;
    display: none;
}

.burger {
    width: 32px;
    height: 32px;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: relative;
    z-index: 110;
}

.burger__line {
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 100px;
    position: absolute;
    left: 0;
    background-color: black;
    opacity: 1;
    transition: 0.3s ease-in-out;
}

.burger__line:nth-child(1) {
    top: 0;
}
  .burger__line:nth-child(2) {
    top: 10px;
}
  .burger__line:nth-child(3) {
    top: 10px;
}
  .burger__line:nth-child(4) {
    top: 20px;
}

.main-nav {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 90;
    padding-top: 130px;
    padding-bottom: 100px;
    background-color: white;
    color: black;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    transform: translateX(-150%);
    transition: transform 0.3s ease;
}
  
.main-nav__list {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 15px;
    text-align: center;
    margin-bottom: 10px;
}
  
.main-nav__item {
    opacity: 0;
    transition: opacity 0.2s ease 0s;
}
  
.main-nav__link {
    transition: all 0.2s ease-in-out;
}  
.main-nav__link:hover,
.main-nav__link:focus {
    color: rgb(80, 80, 80);
}

.menu--open .main-nav {
   transform: translateX(0%);
   transition: transform 0.2s ease;
}
  
.menu--open .main-nav__item {
   opacity: 1;
}
  
.menu--open .burger__line:nth-child(1) {
   transform: scaleX(0);
}
.menu--open .burger__line:nth-child(2) {
   transform: rotate(45deg);
}
.menu--open .burger__line:nth-child(3) {
   transform: rotate(-45deg);
}
.menu--open .burger__line:nth-child(4) {
   transform: scaleX(0);
}

.main-nav-info {
    opacity: 0;
    margin-top: 10px;
    gap: 10px;
}
.menu--open .main-nav-info {
    opacity: 1;
}

.main-nav-messengers-list{
    margin-left: 15px;
    display: flex;
    justify-content: flex-start;
    gap: 5px;
}

.main-nav-messengers-list img {
    transition: transform 0.3s;
}
.main-nav-messengers-list img:hover,
.main-nav-messengers-list img:focus {
    transform: scale(1.03);
}

.burger-line {
    display: block;
    width: 100%;
    height: 1px;
    background-color: black;
    margin: 0 auto;
    z-index: 110;
    max-width: 754px;
    opacity: 0;
}
.menu--open .burger-line {
    opacity: 1;
}

.burger-header {
    display: none;
}

/* adaptation */
@media (max-width: 1045px) {
    .container{
        max-width: 754px;
    }
    .navbar__links{
        display: none;
    }
    .navbar__right{
        position: absolute;
        right: 0;
        margin-right: 60px;
    }   
    .menu__burger {
        display: block;
    }
    .navbar__logo-image{
        width: 110px;
    }
    .burger-header {
        display: block;
    }
}

@media (max-width: 500px) {
    .container{
        max-width: 363px;
    }
    .main-nav-messengers-list {
        margin-left: 50px;
    }
}

/* ----------- Header Section ------------ */

/* ----------- Hero Section ------------ */
.hero {
    text-align: left;
    border-bottom: 1px solid black;
    border-radius: 80px;
    padding-bottom: 130px;
    margin-top: 100px;
}

.hero__content {
    position: relative;
    min-height: 600px;
}

.hero__title {
    margin-bottom: 40px;
}

.hero__description {
    margin-bottom: 100px;
}

.hero__btn {
    background: #295D70;
    color: white;
    cursor: pointer;
    border-radius: 40px;
    padding: 25px 35px;
    font-size: 22px;
    font-weight: 100;
    border: none;
    transition: all 0.3s ease-in-out;
}

.hero__btn:hover,
.hero__btn:focus {
    background: #38929C;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.295);
}

/* Стили для кубиков */
.cubes-grid {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: grid;
    grid-template-columns: 340px 340px;
    grid-template-rows: auto auto;
    gap: 30px;
    width: auto;
    justify-content: end;
    align-items: end;
}

.cube-1 {
    height: 279px;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    margin-top: -40px;
}

.cube-2 {
    height: 319px;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.cube-3 {
    height: 265px;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.cube {
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    transition: all 0.3s ease;
}

.cube-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%) brightness(1);
    transition: all 0.3s ease;
}

.cube:hover .cube-image {
    filter: grayscale(0%) brightness(1);
}

/* Адаптив */
@media (max-width: 1300px) {
    .hero__btn{
        margin-left: 50px;
        font-size: 16px;
    }
    .cube-1 {
        height: 228px;
        width: 280px;
    }
    .cube-2 {
        height: 270px;
        width: 280px;
    }
    .cube-3 {
        height: 225px;
        width: 280px;
    }
    .cubes-grid{
        grid-template-columns: 280px 280px;
        top: 40%;
        margin-right: 50px;
    }
    .fix-btn {
        right: 40px;
        bottom: 50px;
    }
    .fix-btn img{
        width: 53px;
        height: 53px;
    }
    .fix-title{
        font-size: 14px;
    }
    .fix-title-open{
        font-size: 14px;
    }
    .fix-info{
        right: 230px;
        bottom: 50px;
    }
    .fix-messengers-list img{
        width: 37px;
        height: 37px;
    }
    .hero {
        padding-bottom: 0px;
    }
    .hero__content {
        min-height: 500px;
    }
}
@media (max-width: 1080px) {
    .cube-1 {
        height: 148px;
        width: 180px;
    }
    .cube-2 {
        height: 170px;
        width: 180px;
    }
    .cube-3 {
        height: 139px;
        width: 180px;
    }
    .cubes-grid{
        grid-template-columns: 180px 180px;
        top: 45%;
        gap: 10px;
        margin-right: 0;
    }
    .hero__description{
        margin-left: 0;
    }
    .hero__title{
        margin-left: 0;
    }
    .hero__btn {
        margin-left: 0;
    }
    .hero__content {
        min-height: 450px;
    }
}
@media (max-width: 770px) {
    .hero {
        border-radius: 20px;
    }
}
@media (max-width: 720px) {
    .cube-1 {
        height: 140px;
        width: 171.7086181640625px;
    }
    .cube-2 {
        height: 161px;
        width: 171.7086181640625px;
    }
    .cube-3 {
        height: 133px;
        width: 171.7086181640625px;
    }
    .cubes-grid{
        grid-template-columns: 171px 171px;
        top: 50%;
        right: 20px;
        gap: 20px;
        margin-right: 0;
    }    
    .hero__description {
        margin-bottom: 250px;
        max-width: 170px;
    }
    .hero__btn {
        display: block;
        padding: 20px 35px;
        width: 362px;
        text-align: center;
    }
    .hero{
        margin-top: 50px;
    }
    .hero__content {
        min-height: 630px;
    }
}
@media (max-width: 570px) {
    .fix-btn {
        right: 5px;
        bottom: 50px;
    }
    .fix-btn img{
        width: 53px;
        height: 53px;
    }
    .fix-title{
        display: none;
    }
    .fix-info{
        right: 60px;
        bottom: 50px;
    }
    .fix-messengers-list img{
        width: 37px;
        height: 37px;
    }
    .hero__content {
        min-height: 630px;
    }
    .cubes-grid{
        right: 0;
        top: 55%;
    } 
    .cubes-grid {
        top: 47%;
    }
    .hero__title {
        margin-bottom: 20px;
    }
    .hero__btn {
        width: 100%;
    }
    .hero__content {
        min-height: 700px;
    }
}

/* ----------- Hero Section ------------ */

/* ----------- Help Section ------------ */

.help {
    border-top: 1px solid black;
    border-radius: 80px;
    padding-top: 100px;
    margin-top: 50px;
    padding-bottom: 50px;
}

.help-title {
    padding-bottom: 50px;
}

.help__item-title {
    margin-bottom: 30px;
}

.services-flex {
    display: flex;
    gap: 27px;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.service-card:nth-child(1){
    max-width: 349px;
}
.service-card:nth-child(2) {
    max-width: 341px;
}
.service-card:nth-child(3) {
    max-width: 291px;
}
.service-card:nth-child(4) {
    max-width: 365px;
}
.service-card:nth-child(5) {
    max-width: 434px;
}
.service-card:nth-child(6) {
    max-width: 508px;
}
.service-card:nth-child(7) {
    max-width: 434px;
}

.service-card {
    padding: 30px;
    border-radius: 25px;
    border: 1px solid #000000;
}

.service-card.highlighted {
    background-color: #295D70;
    color: #fff;
    border: none;
}



@media (max-width: 1300px) {
    .services-flex {
        margin: 0 50px 30px;
        gap: 20px;
    }
    .help__item-title {
        margin-left: 0;
    }
}
@media (max-width: 1045px) {
    .services-flex {
        margin: 0 0 30px;
        gap: 10px;
    }
    .service-card {
        padding: 20px;
    }    
    .service-card:nth-child(1){
        max-width: 243px;
    }
    .service-card:nth-child(2) {
        max-width: 260px;
    }
    .service-card:nth-child(3) {
        max-width: 216px;
    }
    .service-card:nth-child(4) {
        max-width: 371px;
    }
    .service-card:nth-child(5) {
        max-width: 372px;
    }
    .service-card:nth-child(6) {
        max-width: 382px;
    }
    .service-card:nth-child(7) {
        max-width: 362px;
    }
    .help-title {
        margin-left: 0;
    }
}
@media (max-width: 770px) {
    .service-card:nth-child(1){
        max-width: none;
    }
    .service-card:nth-child(2) {
        max-width: none;
    }
    .service-card:nth-child(3) {
        max-width: none;
    }
    .service-card:nth-child(4) {
        max-width: none;
    }
    .service-card:nth-child(5) {
        max-width: none;
    }
    .service-card:nth-child(6) {
        max-width: none;
    }
    .service-card:nth-child(7) {
        max-width: none;
    }
    .help-title {
        padding-bottom: 20px;
    }
    .help-title {
        margin-left: 10px;
    }
    .services-flex {
        margin: 0 ;
        gap: 10px;
    }
    .help {
        margin-top: 30px;
        padding-top: 50px;
        padding-bottom: 100px;
        border-radius: 20px;
    }
    .help-title {
        margin-left: 0;
    }
    .help__item-title {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .service-card {
        padding: 20px 20px 0;
    }
    .services-flex {
        gap: 20px;
    }
}


/* ----------- Help Section ------------ */

/*---------------------Extra help--------------*/
.extra--help__title {
    margin-bottom: 60px;
}

.extra--help-cards {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    column-gap: 40px;
    row-gap: 40px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
}

.extra--help-card {
    border: 1px solid black;
    border-radius: 25px;
    transition: transform 0.3s ease;
}

.extra--help-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.extra--help-card1,
.extra--help-card2,
.extra--help-card3,
.extra--help-card4 {
    width: auto !important;
}

.extra--help-card1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    height: 186px;
}

.extra--help-card2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    height: 186px;
}

.extra--help-card3 {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    height: 148px;
}

.extra--help-card4 {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    border: none;
}

.extra_image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 25px;
    filter: grayscale(100%) brightness(1);
    transition: all 0.3s ease;
}

.extra--help-card:hover .extra_image {
    filter: grayscale(0%) brightness(1);
}

.extra--help-content-subtitle {
    padding: 30px;
}

.extra--help-content-text {
    padding: 0 30px;
}

@media (max-width: 1300px) {
   .extra--help {
    margin-top: 50px;
    padding-bottom: 50px;
   } 
   .extra--help-cards {
    margin: 0 50px;
    width: 93%;
    column-gap: 20px;
    row-gap: 20px;
   }
   .extra--help-content-subtitle {
    margin-left: 0;
    }
}
@media (max-width: 1045px) {
    .extra--help__title {
        margin-left: 0;
    }
    .extra--help-cards {
        margin: 0 auto;
        width: 100%;
    }
    .extra--help-content-subtitle {
        margin-left: 0;
    }
}
@media (max-width: 769px) {
    .extra--help__title {
        margin-left: 10px;
    }
    .extra--help-cards {
        margin: 0 10px;
        width: 97%;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(4, auto);
    }
    .extra--help__title {
        margin-bottom: 30px;
    }
    .extra--help-card1 {
        grid-column: auto;
        grid-row: auto;
    }
    .extra--help-card2 {
        grid-column: auto;
        grid-row: auto;
    }
    .extra--help-card3 {
        grid-column: auto;
        grid-row: auto;
    }
    .extra--help-card4 {
        grid-column: auto;
        grid-row: auto;
    }
    .extra--help-content-subtitle {
        padding: 20px;
    }
    .extra--help-content-text {
        padding: 0 20px;
    }

}

@media (max-width: 500px) {
    .extra--help {
        margin-top: 10px;
        padding-bottom: 0;
    }
    .extra--help__title {
        margin-left: 0;
    }
    .extra--help-cards {
        margin: 0;
        width: 100%;
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
    }
    .extra--help-content-subtitle {
        font-size: 20px;
        margin-bottom: 10px;
        padding: 0;
    }
    .extra--help-content {
        padding: 20px 20px 0;
    }
    .extra--help-content-text {
        padding: 0;
    }
    .extra--help-card1 {
        height: 100%;
    }
    .extra--help-card2 {
        height: 100%;
    }
    .extra--help-card3 {
        height: 100%;
    }
    .extra--help-card4 {
        height: 100%;
    }
}


/*---------------------Extra help--------------*/

/*---------------------Solution Dev--------------*/
.solution-dev {
    background-image: url("../lib/dev-lines.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 460px;
    margin-top: 450px;
    padding-top: 1px;
}


.solution-dev__title {
    margin-bottom: 50px;
    margin-top: -240px;
}

.solution-dev-list {
    list-style: none;
    counter-reset: list;
    padding-left: 0;
}

.solution-dev-list li {
    display: flex;
    align-items: center;
    counter-increment: list;
    position: relative;
    padding-left: 50px;
    margin-top: 130px;
}

.solution-dev-list li::before {
    content: counter(list);
    position: absolute;
    left: 0;

}

.dev-sublist_number {
    padding-left: 10px;
    font-size: 64px;
    color: white;
}

/*---------------------Solution Dev--------------*/

/*---------------------Quality description--------------*/

.quality-description__title {
    margin-bottom: 50px;
}

.quality-description__subtitle {
    margin-bottom: 50px;
}

.quality-row-text {
    position: relative;
    padding-bottom: 60px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.quality-row {
    flex: 1;
    max-width: 600px;
    margin-right: 70px;
    height: 76px;
    background-color: #295D70;
    border-radius: 50px;
}

.quality-text {
    padding: 20px;
    border: 1px solid black;
    border-radius: 50px;
}

@media (max-width: 1050px) {
    .quality-row {
        margin-right: 0px;
        aspect-ratio: 1/1;
    }
    .quality-row-text {
        gap: 0px;
    }
}
@media (max-width: 890px) {
    .quality-row {
        aspect-ratio: 1/1;
    }
}
/*---------------------Quality description--------------*/

/*---------------------Job description--------------*/
.job-description {
    margin-bottom: 100px;
}

.job-description-image {
    position: absolute;
    right: 0;
}

.job-description__title {
    margin-bottom: 40px;
}

.job-description__subtitle {
    margin-bottom: 60px;
}

.job-description-links {
    padding-left: 300px;
    max-width: 1170px;
}

.job-description__link {
    padding-bottom: 10px;
    line-height: 1.5
}

.job-description-text {
    margin-bottom: 35px;
}

.job-description-list {
    list-style: none;
    counter-reset: list;
    padding-left: 0;
}

.job-description-list li {
    display: flex;
    align-items: center;
    counter-increment: list;
    position: relative;
    padding-left: 50px;
    margin-top: 30px;
}

.job-description-list li::before {
    content: counter(list);
    position: absolute;
    left: 0;
}

.sublist_number {
    padding-left: 10px;
    font-size: 64px;
}

@media (max-width: 1300px) {
    .job-description {
        padding: 40px 20px;
    }
    .job-description__title {

        margin-bottom: 35px;
    }
    .job-description__subtitle {

        margin-bottom: 30px;
    }
    .sublist_number h3 {
        margin: 12px 0;
    }
}

@media (max-width: 1168px) {
    .job-description__title br,
    .sublist_number h3 br {
        display: none;
    }
    .job-description-image {
         position: relative;
        right: 0;
        margin-bottom: 50px;
        margin-left: 170px;
    }
}
@media (max-width: 768px) {
    .job-description__title br,
    .sublist_number h3 br {
        display: none;
    }
    .job-description-image {
        position: relative;
        margin-left: 85px;
        margin-bottom: 50px;
    }
    .job-description{
        margin-top: 30px;
    }
}

@media (max-width: 576px) {
    .job-description__container {
        display: flex;
        flex-direction: column;
        gap: 600px;
    }
    .job-description-image {
        display: none;
    }
    .job-description__subtitle{
        background-image: url("../lib/job_description.png");
    }
    .job-description__title,
    .job-description__subtitle,
    .job-description-content-text {
        order: 0;
        width: 100%;
        padding-bottom: 8px;
    }
    .job-description__wrapper {
        padding: 20px 15px;
    }
    .job-description__title{
        padding-top: 30px;
    }
}

/*---------------------Job description--------------*/

/*---------------------Financial Operation--------------*/
.fin-operation {
    background-image: url("../lib/waveCurve.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 1050px;
    margin-top: 100px;
}

.fin-operation__container {
    padding-top: 250px;
    color: white;
}

.fin-operation__title {
    margin-bottom: 40px;
}

.fin-operation__subtitle {
    margin-bottom: 130px;
    font-size: 24px;
}

.operation-links {
    padding-left: 300px;
    max-width: 1170px;
}

.operation__link {
    padding-bottom: 10px;
    line-height: 1.5;font-size: 24px;
}

@media (max-width: 1300px){
    .fin-operation__subtitle {
        margin-left: 50px;
    }
}
@media (max-width: 1030px) {
    .operation-links {
        padding-left: 2px;
    }
    .fin-operation__title {
        margin-left: 10px;
    }
    .operation__link,.fin-operation__subtitle{
        font-size: 18px;
        margin-left: 3px;
    }
}
@media (max-width: 780px) {
    .fin-operation__subtitle{
        margin-left: 10px;
    }
    .operation-links{
        margin-left: 10px;
    }
    .operation__link,.fin-operation__subtitle{
        font-size: 16px;
    }
}
@media (max-width: 480px) {
    .fin-operation{
        height: 1210px;
    }
}

/*---------------------Financial Operation--------------*/

/*---------------------Logistics--------------*/
.logistics__title {
    margin-bottom: 60px;
}

.logistics__subtitle {
    margin-bottom: 60px;
}

.logic-cards {
    position: relative;
    max-width: 1400px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 413px 214px 497px;
    gap: 25px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
}

.logic-card {
    border: 1px solid black;
    border-radius: 25px;
    transition: transform 0.3s ease;
}

.logic-content-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    height: 100%;
}

.logic-content-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
}

.logic-card1,
.logic-card2,
.logic-card3,
.logic-card4,
.logic-card5 {
    width: auto !important;
}

.logic-card1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    height: 413px;
}

.logic-card2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    height: 413px;
}

.logic-card1 img {
    height: 412px;
}

.logic-card3 {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    height: 214px;
}

.logic-card4 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    height: 497px;
}

.logic-card5 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    height: 497px;
}

.logic-card5 img {
    height: 495px;
}

.logic_image {
    width: auto;
    height: auto;
    object-fit: contain;
    border-radius: 25px;
    filter: grayscale(100%) brightness(0.7);
    transition: all 0.3s ease;
}

.logic-card:hover .logic_image {
    filter: grayscale(0%) brightness(1);
}

.logic-content-text {
    padding: 30px;
}

.logistics-delivery-text {
    margin-bottom: 25px;
}

.sublist {
    padding-left: 30px;
    margin-top: 10px;
    list-style-type: disc;
}
@media (max-width: 1300px) {
    .logistics__title {
        margin-bottom: 40px;
        font-size: 1.8rem;
    }
    .logistics__subtitle {
        margin-bottom: 40px;
        font-size: 1.2rem;
    }
    .logic-cards {
        gap: 20px;
        padding: 0 15px;
    }
    .logic-content-text {
        padding: 20px;
    }
    .sublist {
        padding-left: 20px;
    }
}
@media (max-width: 768px) {
    .logistics__title {
        margin-bottom: 30px;
        font-size: 1.5rem;
    }
    .logistics__subtitle {
        margin-bottom: 30px;

    }
    .logic-cards {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 15px;
        padding: 0 10px;
    }
    .logic-card1,
    .logic-card2,
    .logic-card3,
    .logic-card4,
    .logic-card5 {
        grid-column: 1;
        grid-row: auto;
        height: auto; 
    }
    .logic-card1 img,
    .logic-card5 img {
        height: auto;
        max-height: 300px;
        width: 100%;
    }
    .logic-card3 {
        height: auto;
    }
    .logic_image {
        width: 100%;
        height: auto;
        max-height: 250px;
        object-fit: cover;
    }
    .logic-content-text {
        padding: 15px;
    }
    .logistics-delivery-text {
        margin-bottom: 15px;
    }
    .sublist {
        padding-left: 15px;
    }
    .logic-content-row {
        flex-direction: column;
    }
}
@media (max-width: 480px) {
    .logistics__title {
        margin-bottom: 20px;
    }
    .logic-cards {
        gap: 10px;
    }

    .logic-card {
        border-radius: 26px;
    }
    .logic_image {
        max-height: 200px;
    }
    .logic-content-text {
        padding: 10px;
    }
}

/*---------------------Logistics--------------*/

/*---------------------Quality description--------------*/
.portfolio__title {
    margin-bottom: 60px;
}

.portfolio-cards {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 58px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
}

.portfolio-card {
    border: 1px solid black;
    border-radius: 25px;
    width: auto !important;
    transition: transform 0.3s ease;
}

.portfolio-card1 {
    border: none;
}

.portfolio-card1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.portfolio-card2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    padding: 35px;
}

.portfolio-content-text {
    padding-bottom: 30px;
}

@media (max-width: 1300px) {
    .portfolio__title {
        margin-left: 0;
    }
    .portfolio-cards {
        gap: 30px;
        padding: 0;
    }
    .portfolio-content-text {
        margin-left: 0;
    }
    .portfolio__container {
        margin: 0 50px;
    }
}
@media (max-width: 1045px) {
    .portfolio__title {
        margin-bottom: 20px;
        padding: 0 15px;
    }
    .portfolio-cards {
        gap: 20px;
        padding: 0 15px;
    }
    .portfolio-card2 {
        padding: 25px;
    }
    .director-img{
        width: 300px;
        height: 430px;
    }
    .portfolio-content-text {
        padding-bottom: 20px;
    }
    .portfolio__container {
        margin: 0;
    }
}
@media (max-width: 868px) {
    .portfolio__title {
        margin-bottom: 30px;
        font-size: 1.8rem;
    }
    .portfolio-cards {
        grid-template-columns: 1fr; 
        gap: 25px;
        max-width: 600px;
    }
    .portfolio-card1,
    .portfolio-card2 {
        grid-column: 1; 
        grid-row: auto;
    }
    .portfolio-card2 {
        padding: 20px;
    }

    .portfolio-content-text {
        padding-bottom: 20px;
    }
    .director-img{
        width: 100%;
        height: 100%;

    }
}

@media (max-width: 600px) {
    .portfolio__title {
        margin-bottom: 25px;
        font-size: 1.5rem;
    }
    .portfolio-cards {
        gap: 20px;
        padding: 0 10px;
    }
    .portfolio-card {
        border-radius: 15px;
    }
    .portfolio-card2 {
        padding: 15px;
    }
    .portfolio-content-text {
        padding-bottom: 15px;
    }
}

@media (max-width: 400px) {
    .portfolio__title {
        font-size: 1.3rem;
    }
    .portfolio-card2 {
        padding: 10px;
    }
}

/*---------------------Quality description--------------*/

/*---------------------Why choose--------------*/
.choose-title {
    margin-bottom: 60px;
}

.choose__item {
    text-align: center;
    padding: 22px;
}

.choose__item-title {
    font-weight: bold;
    margin: 15px;
}

.choose__item-title1 {
    margin-top: 9px;
    margin-bottom: 19px;
    font-weight: bold;
    margin-left: 3px;
}

@media (max-width: 1124px) {
    .advantages {
        padding: 30px;
    }
}
@media (max-width: 1050px) {
    .advantages {
        padding: 30px;
    }
    .choose__item{
        margin-right: 45px;
    }
    .col-lg-6 {
        flex: 1 0 auto;
        width: 40%;
    }
}
@media (max-width: 870px) {
    .advantages {
        padding: 30px;
    }
    .choose__item {
        flex-direction: row;
        gap: 17px;
        align-items: flex-start;
    }
}
@media (max-width: 650px){
    .col-lg-3 {    
      width: 52%;
    }
}

/*---------------------Why choose--------------*/

/* ----------- How we work Section ------------ */
.workPlan {
    background-image: url("../lib/roadCar.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 764px;
    margin-top: 200px;
    padding-top: 1px;
}

.workPlan__title {
    margin-bottom: 60px;
    margin-top: -80px;
}

.process-roadmap-top {
    position: relative;
    max-width: 1400px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    column-gap: 50px;
    justify-content: space-between;
}

.process-roadmap-botton {
    padding-top: 230px;
    position: relative;
    max-width: 1400px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    column-gap: 50px;
    justify-content: space-between;
}

.process-item {
    position: relative;
}

.process1 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.process2 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.process3 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.process4 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.process5 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.process6 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.process7 {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}


.process-step {
    display: flex;
    align-items: center;
}

.step-number {
    font-size: 24px;
    flex-shrink: 0;
    position: absolute;
    z-index: 2;
    margin-bottom: 70px;
    margin-left: -20px;
}

.step-content {
    padding: 15px 35px;
    border: #000000 solid 1px;
    border-radius: 60px;
    max-width: 300px;
    text-align: center;
}

.process-text {
    line-height: normal;
}

/* adaptation */
@media (max-width: 1600px) {
    .process-roadmap-botton {
        padding-top: 300px;
        margin-left: 200px;
    }    
}
@media (max-width: 1500px) {
    .workPlan__container {
        margin: 0 50px;
    }    
}
@media (max-width: 1440px) {
    .process-roadmap-top {
        margin-left: 150px;
    }    
}
@media (max-width: 1300px) {
   .process-text {
    margin-left: 0;
   } 
   .workPlan__title {
    margin-left: 0;
   }
}
@media (max-width: 1230px) {
    .process-roadmap-botton {
        margin-left: 250px;
    }   
 }
 @media (max-width: 1170px) {
    .process-roadmap-botton {
        margin-left: 200px;
        padding-top: 350px;
    }   
    .process-roadmap-top {
        margin-left: 0;
    }
 }
@media (max-width: 1045px) {
    .workPlan {
        background-size: contain;
    }
    .step-content {
        padding: 15px 20px 10px;
        max-width: 167px;
    }
    .process-text {
        font-size: 16px;
    }
    .process-roadmap-botton {
        margin-left: 0;
        padding-top: 130px;
    }
    .workPlan__container {
        margin: 0;
    }
    .workPlan__title {
        margin-bottom: 30px;
    }
}
@media (max-width: 960px) {
    .workPlan__title {
        margin-bottom: 25px;
    }
    .process-roadmap-botton {
        padding-top: 160px;
    }
    .workPlan {
        background-image: url(../lib/roadCar-middle.svg);
        background-size: contain;
    }
}
@media (max-width: 860PX) {
    .process-roadmap-botton {
        padding-top: 120px;
    }
}
@media (max-width: 770px) {
    .workPlan {
        background-image: url(../lib/roadCar-small.svg);
        background-size: auto;
        background-position-x: right;
        height: 464px;
    }
    .process-roadmap-top,
    .process-roadmap-botton {
        display: contents;
    }
    .workPlan__container {
        display: flex;
        flex-direction: column;
        row-gap: 20px; 
    }
    .process1 { order: 1; }
    .process2 { order: 2; }
    .process3 { order: 3; }
    .process4 { order: 4; }
    .process5 { order: 5; }
    .process6 { order: 6; }
    .process7 { order: 7; }
    
    .step-content {
        padding: 15px 20px 10px;
        max-width: none;
    }
    .process-text br {
        display: none;
    }
    .step-number {
        font-size: 14px;
        flex-shrink: 0;
        position: absolute;
        z-index: 2;
        margin-bottom: 50px;
        margin-left: -5px;
    }
    .process-text {
        font-size: 14px;
    }
}

@media (max-width: 500px) {
    .workPlan__container {
        margin: 0 0;
    }
    .process-item {
        margin-left: 15px;
    }
}

/* ----------- How we work Section ------------ */

/* ----------- Form Section ------------ */
.form {
    background-image: url("../lib/waveCurve.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 1150px;
    margin-top: 100px;
}

.form__content {
    padding-top: 250px;
}

.form__title {
    margin-bottom: 10px;
    color: white;
}

.form__subtitle {
    margin-bottom: 120px;
    line-height: 1.5;
    color: white;
}

.contacts__title {
    font-size: 24px;
    margin-bottom: 25px;
    color: white;
}

.form__container {
    display: grid;
    grid-template-columns: 1fr 1.1fr;
    gap: 25px;
    align-items: start;
    color: white;
}

.messengers {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}

.messenger-item {
    transition: transform 0.3s ease-in-out;
    border-radius: 100px;
    border: 1px solid #295D70;
}

.messenger-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.117);
}

.form-group {
    position: relative;
    margin-bottom: 35px;
}

.form-row {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
    margin-bottom: 20px;
    align-items: center;
}

.form-group input {
    width: 100%;
    padding: 15px 25px;
    border: 1px solid white;
    background: transparent;
    border-radius: 100px;
    font-size: 24px;
    transition: all 0.3s ease;
}

.form-group label {
    position: absolute;
    left: 25px;
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.702);
    pointer-events: none;
    font-size: 24px;
    transition: all 0.4s ease-in-out;
    background: transparent;
}

.form-group textarea {
    width: 100%;
    padding: 15px 25px;
    border: 1px solid white;
    background: transparent;
    border-radius: 30px;
    font-size: 16px;
    transition: all 0.4s ease-in-out;
}

.form-group input:focus,
.form-group textarea:focus {
    outline: none;
}

.form-group input:focus+label,
.form-group textarea:focus+label,
.form-group input:not(:placeholder-shown)+label,
.form-group textarea:not(:placeholder-shown)+label {

    font-size: 15px;
    visibility: hidden;
}

.textarea {
    height: 120px;
    resize: vertical;
}

.form-task-text {
    padding: 10px 30px;
    font-size: 14px;
}

.submit-btn {
    background: white;
    color: black;
    width: 100%;
    padding: 18px;
    border: none;
    border-radius: 100px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.submit-btn:hover {
    background: #38929C;
    color: #FFF;
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.117);
}

.checkbox-label {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    padding-left: 30px;
    margin-top: 15px;
}

.checkbox-input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    left: 0;
    top: 2px;
    height: 18px;
    width: 18px;
    border: 1px solid white;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.checkbox-label:hover .checkbox-input~.checkmark,
.checkbox-label:focus .checkbox-input~.checkmark {
    border-color: #fff;
}

.checkbox-label:focus .checkbox-input~.checkmark {
    border-color: #fff;
}

.checkbox-input:checked~.checkmark {
    background-color: #38929C;
    border-color: #38929C;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
    left: 5px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.checkbox-input:checked~.checkmark:after {
    display: block;
}

.agreement {
    position: relative;
    font-size: 12px;
    color: white;
    line-height: 1.4;
}

.agreement-link {
    text-decoration: underline;
}

.agreement-text {
    opacity: 0.7;
    transition: all 0.3s ease-in-out;
}

.agreement-text:hover,
.agreement-text:focus {
    text-decoration: underline;
}

.checkbox-input:checked~.agreement-text {
    opacity: 1;
}

.invalid {
    border-color: #ff4444 !important;
    animation: shake 0.5s ease;
}

@keyframes shake {
    0%,
    100% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(5px);
    }
    75% {
        transform: translateX(-5px);
    }
}

/* adaptation */
@media (max-width: 1300px) {
    .messengers {
        margin: 0 50px;
    }
    .form-group label {
        font-size: 16px;
    }
    .contact-form {
        margin-right: 50px;
    }
    .form__subtitle {
        width: 370px;
    }
    .form {
        margin-bottom: 100px;
    }
}
@media (max-width: 1045px) {
    .form {
        background-image: url(../lib/waveCurve-middle.svg);
        height: 719px;
    }
    .form__subtitle {
        width: 320px;
        margin-left: 0;
    }
    .form__title {
        margin-left: 0;
    }
    .contacts__title {
        margin-left: 0;
    }
    .messengers {
        margin: 0 0;
    }
    .submit-btn {
        height: 40px;
        padding: 5px 10px;
    }
    .contact-form {
        margin-right: 0;
    }
    .form-row {
        gap: 10px;
    }
    .form__content {
        padding-top: 100px;
    }
    .form-group {
        margin-bottom: 10px;
    }
    .messenger-item img {
        width: 40px;
        height: 40px;
    }
}
@media (max-width: 770px) {
    .form__container {
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
        align-items: start;
        color: white;
    }
    .form {
        background-image: url(../lib/waveCurve-small.svg);
        height: 1400px;
    }
    .form__content {
        padding-top: 200px;
        margin: 0 50px;
    }
    .form__title {
        font-size: 40px;
        margin-bottom: 20px;
    }
    .form__subtitle{
        width: auto;
        font-size: 17px;
        margin-bottom: 30px;
    }
    .form-group {
        margin-bottom: 15px;
    }
    .block-m{
        display: none;
    }
}
@media (max-width: 500px) {
    .form__content {
        padding-top: 200px;
        margin: 0 0;
    }
}
/* ----------- Form Section ------------ */

/* ----------- Partners Section ------------ */
.partners__title {
    margin-bottom: 40px;
}

.partners-container {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.partners-track {
    display: inline-flex;
    animation: partner-scroll 30s linear infinite;
    white-space: nowrap;
    padding: 20px 0;
}

.partner-card {
    flex: 0 0 auto;
    width: auto;
    height: auto;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 100px;
    border: 1px solid black;
    transition: transform 0.3s ease;
}

.partner-card img {
    width: auto;
    height: auto;
    object-fit: contain;
    padding: 7px 50px;
}

@keyframes partner-scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

/* adaptation */
@media (max-width: 1300px) {
    .partners__title {
        margin-left: 0;
    }
    .partners {
        margin: 0 50px;
    }
}
@media (max-width: 769px) {
    .partner-card img {
        width: auto;
        height: 70px;
    }
    .partners__title {
        margin-bottom: 20px;
    }
}

/* ----------- Partners Section ------------ */

/*---------------Questions--------------------*/
#questions {
    border-bottom: 1px solid black;
    border-radius: 100px;
    margin-bottom: 50px;
}

.question{
    margin-bottom: 200px;
}

.question__title {
    margin-bottom: 40px;
}

.question__accordion__item {
    padding: 0 30px;
    padding-bottom: 20px;
    border-radius: 100px;
    border: 1px solid #000000;
    margin-bottom: 30px;
}

.question__accordion__question {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    margin: 0;
    cursor: pointer;
}

.question__accordion__question::after {
    content: url(../lib/DownArrow.svg);
    transition: transform 0.3s ease-in-out;
}

.question__accordion__answer{
    max-height: 0;
    overflow: hidden;
    opacity: 1;
    transition: opacity 0.3s ease, max-height 0.3s ease;
}

.question__accordion__question--active::after {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
    margin-top: 10px;    
}

.question__accordion__answer--visible {
    opacity: 1;
    margin-bottom: 30px;
}

/* adaptation */
@media (max-width: 1300px) {
    .question__title {
        margin-left: 0;
    }
    .question__accordion__answer h3 {
        margin-left: 0;
    }
    .question {
        margin: 0 50px 150px;
    }
}
@media (max-width: 1045px) {
    .question__accordion__item {
        margin: 0 0 20px;
    }
    .question__title {
        margin-left: 0;
    }
    .question {
        margin: 0 0 200px;
    }
}
@media (max-width: 770px) {
    #questions {
        border-radius: 20px;
    }
}
@media (max-width: 700px) {
    .question {
        margin: 0 10px 150px;
    }
}

/*---------------Questions--------------------*/

/* ----------------- Footer --------------------- */
footer {
    background-color: #4B4B4B;
    color: #FFFFFF;
    padding: 30px 0;
}

.footer__container {
    display: flex;
    gap: 60px;
    max-width: 1630px;
    margin: 0 auto;
}

.footer-right {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.footer-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 25px;
    margin-top: 40px;
}

.footer-link {
    color: #FFFFFF;
    transition: color 0.3s;
}
.footer-link:hover,
.footer-link:focus {
    color: #CCCCCC;
}

.footer-contacts {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
    margin-top: 100px;
}

.contacts-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 15px;
}

.messengers-caption {
    margin-bottom: 15px;
}

.messengers-list {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
}

.messenger-link img {
    transition: transform 0.3s;
}
.messenger-link img:hover,
.messenger-link img:focus {
    transform: scale(1.1);
}

.footer-actions {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 60px;
}

.privacy-policy {
    color: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    font-size: 14px;
    transition: all 0.3s ease-in-out;
    text-decoration: underline;
}
.privacy-policy:hover,
.privacy-policy:focus {
    color: #FFFFFF;
    text-decoration: none;
}

.consult-button {
    background-color: #295D70;
    color: white;
    cursor: pointer;
    border-radius: 40px;
    padding: 25px 35px;
    font-size: 22px;
    font-weight: 100;
    border: none;
    transition: all 0.3s ease-in-out;
}
.consult-button:hover,
.consult-button:focus {
    background-color: #0F3545;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.295);
}


/* Адаптивность */
@media (max-width: 1300px) {
    .footer__container {
        margin: 0 20px;
        row-gap: 15px;
    }
    .footer-nav {
        gap: 20px;
        margin-top: 0;
    }
    .footer-link h3 {
        margin-left: 0;
    }
    .footer-img{
        min-width: 306px;
        min-height: 229px;
        max-width: 476px;
        max-height: 400px;
    }
    .footer-contacts{
        margin-top: 30px;
        margin-bottom: 30px;
        flex-wrap: wrap;
        gap: 10px;
    }
    .contact-type {
        margin-left: 0;
    }
    .messengers-caption {
        margin-left: 0;
    }
    .footer-actions {
        margin-top: 0;
        flex-wrap: wrap;
        gap: 20px;
    }
    .privacy-policy h3 {
        margin-left: 0;
    }
    .consult-button {
        font-size: 16px;
    }
    .footer-actions {
        gap: 10px;
    }
    .messenger-link img{
        width: 42px;
        height: 42px;
        gap: 10px;
    }
}
@media (max-width: 1045px) {
    .contacts-info {
        gap: 10px;
   } 
   .footer-nav {
        max-width: 754px;
        position: absolute;
        gap: 25px;
        left: 0;
    }
    .footer-img {
        max-width: 306px;
        max-height: 229px;
        object-fit: cover;
        border-radius: 20px;
        margin-top: 50px;
    }
    .footer-contacts {
        margin-top: 50px;
        margin-bottom: 10px;
    }
    .consult-button {
        padding: 15px 25px;
    }
}
@media (max-width: 910px) {
    .footer-img {
        margin-top: 100px;
    }
    .footer-contacts {
        margin-top: 100px;
    }
    .footer-logo {
        order: 2;
    } 
    .footer-right {
        order: 1;
    }
    .footer__container {
        flex-wrap: wrap;
    }
}
@media (max-width: 769px) {
    .footer-nav {
        row-gap: 5px;
    }
    .contact-item-img {
        max-width: 25px;
        max-height: 25px;
    }
}
@media (max-width: 761px) {
    
    .footer__container {
        row-gap: 15px;
    }
    .footer__container {
        margin: 0 10px;
    }
}
@media (max-width: 630px) {
    .footer-img {
        margin-top: 0;
        min-width: 362px;
        max-height: 229px;
    }
}
@media (max-width: 420px) {
    .footer-img {
        margin-top: 0;
        min-width: auto;
        max-height: 229px;
    }
}
@media (max-width: 300px) {
    .footer-contacts {
        margin-top: 140px;
    }
}